<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://wanaby.online/site.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
    <title>Pixel Numbers</title>
</head>
<body>
<div class="top">
    <h1 style="margin:0;margin-bottom:10px;font-size:40px;letter-spacing:8px;">Pixel Numbers</h1>
    <div style="margin-bottom:10px;display:flex;justify-content:center;" id="ton-connect"></div>
</div>
<div class="middle">
    <div style="margin-bottom:20px;max-height: 350px; overflow-y: scroll;">
    <h2 style="color:#6586ff;margin:0;text-align:left;letter-spacing:3px;">Game Overview and Rules</h2>
    <p style="color:#d8751d;font-size:20px;text-align:left;letter-spacing:1px;">
        <b>Pixel Numbers</b> is a game of luck where two players take turns tapping
        a button with numbers, aiming to score more points than their opponent.<br><br>
        Each player takes turns tapping the button with
        numbers. After each tap, a random number between 1 and 100 is generated.
        The first player starts the game by making the first tap, then the
        turn passes to the second player. The game ends after both
        players have made one tap. The player with the higher score wins.<br>
    </p>
    <h2 style="color:#6586ff;margin:0;text-align:left;letter-spacing:3px;">Withdrawal of funds</h2>
    <p style="color:#1fbfd5;font-size:20px;text-align:left;letter-spacing:1px;">
        Funds can be withdrawn in two sections:<br>
        &#8226; Withdrawal - payouts for games<br>
        &#8226; Referrals - payouts for referrals<br><br>

        When you click the Withdraw button, a payout request is created.
        After the request is submitted, the funds will be credited
        to your wallet (which you connected in the app) within 24 hours.
    </p>
        </div>
    <a class="close-button" href="../home">Back</a>
</div>
<script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="../assets/js/telegram.js"></script>
<script src="../assets/js/eventHandlers.js"></script>
<script src="../assets/js/connect.js"></script>
</body>
</html>
